<div id="easter_egg"></div>
<script>
    let random_code = [
        'hHHHshXMc2s', // 상해홍차관
        'rjJrH3cGGHk', // 죽취비상
        'vbhaQpLVikU', // 유령악단
        'HGvB0cHVFME', // 플라워링 나이트
        'qjS4ojboddE', // 우상에 세계를 맡기고
        '21alaEbA3_4', // 고향별이 비치는 바다
        'bekwI4TqlCs', // 오늘 밤은 표일한 에고이스트
        'ty6MZAzJ_2k', // 브와르 마법 도서관
        'GlrwhyhiND0', // 배드애플
        'PRNsrkAcDqs', // 달까지 닿아라 불사의 연기
        'c4Hf1JKgHO0', // 라스트 리모드
        '9Ct00XwIa_M', // 쇄월
        'FwRn-Pj-1QI', // 디자이어 드라이브
        'rjLjxZ-bchI', // 유심지의 유정천
    ];
    let get_num = location.search.replace(/[^0-9]+/g, '');
    if(get_num !== '' && Number(get_num) < random_code.length) {
        get_num = Number(get_num);
    } else {
        get_num = Math.floor(Math.random() * random_code.length);
    }

    let add_link = '';
    for(let i = 0; i < random_code.length; i++) {
        add_link += '<a href="?select=' + String(i) + '">(' + String(i) + ')</a> ';
    }

    document.getElementById('easter_egg').innerHTML = '' +
        add_link +
        '<hr class="main_hr">' +
        '<iframe     style="width: 560px; height: 315px;" ' +
                    'src="https://www.youtube.com/embed/' + random_code[get_num] + '" allowfullscreen></iframe>' +
        '';
</script>